<div class="row">
<div class="span4"><%= image_tag("JAQUE 1.jpg",width:150, height:100) %><br/>
	
</div>
 <div class="span5 "> Miss Lyagga Ruth <br/> System analyst<br/> jacquelyaga@yahoo.com 
 <br/> 0755427172</div><br/>
 </div>