#navMenu {
    margin:0;
    width:auto;
    margin-left: 200px
    
 }

  #navMenu ul {
    margin:0;
    padding:0;
    line-height:30px;
 }

  #navMenu li {
    margin:0;
    padding:0;
    list-style:none;
    float:left;
    position:relative;
    background:#006dcc;

    background-image: -moz-linear-gradient(top, #0088cc, #003399);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#003399));
    background-image: -webkit-linear-gradient(top, #0088cc, #003399);
    background-image: -o-linear-gradient(top, #0088cc, #003399);
    background-image: linear-gradient(to bottom, #0088cc, #003399);
   



 }

  #navMenu ul li a {
    text-align:center; 
    height:30px;
    width:120px;
    display:block;
    color:#000;
    font-family:"Comic Sans MS", cursive;
    text-decoration:none;
    color:#FFF;
    border:1px solid #149bdf;
    font-size: 15px;
   /* text-shadow:1px 1px 1px #FFF; */ 
 }

  #navMenu ul ul {
    position:absolute;
    visibility:hidden;
    top:32px;
 }

  #navMenu ul li:hover ul {
    visibility:visible;
    z-index:9999; 
 }

  /**********************************************/

  /*sets top level hover color*/

  #navMenu li:hover {
   background:#000;
 }

  /*sets link items hover color and background*/

  #navMenu ul li:hover ul li a:hover {
    color:#FFF;
    background:#000;
 }

  /* Changes text color on hover for main menu hover*/

  #navMenu a:hover {   
  color:#FFF;
 } 
  
 /* Contains the Float */

 .clearFloat {
    clear:both; 
    margin:0;
    padding:0;
 }

 /* IE7 Display Fix */  
 
 #navmenu ul li {

  display: inline;     
 
 } 
